Pool {
  Name      = Scratch
  Pool Type = Backup
}
Pool {
  Name                 = bacula.pool.domain1.server01.p1
  Pool Type            = Backup
  Label Format         = "Vol_"
  Maximum Volume Jobs  = 5
  Maximum Volume Bytes = 200M
  Maximum Volumes      = 20 
  Storage              = bacula.storage.domain1.server01.p1
#  Volume Duration      = 2 months
#  RecycleOldesVolume   = yes
  Recycle              = yes
  Purge Oldest Volume  = no
  AutoPrune            = yes
}
Pool {
  Name                 = bacula.pool.domain3.web.p1
  Pool Type            = Backup
  Label Format         = "Vol_"
  Maximum Volume Jobs  = 5
  Maximum Volume Bytes = 10G
  Maximum Volumes      = 48
  Storage              = bacula.storage.domain3.web.p1
  Recycle              = yes
  Purge Oldest Volume  = no
  AutoPrune            = yes
}
Pool {
  Name                 = bacula.pool.domain2.server01.p1
  Pool Type            = Backup
  Label Format         = "Vol_"
  Maximum Volume Jobs  = 5
  Maximum Volume Bytes = 500M
  Maximum Volumes      = 20 
  Storage              = bacula.storage.domain2.server01.p1
#  Volume Duration      = 2 months
#  RecycleOldesVolume   = yes
  Recycle              = yes
  Purge Oldest Volume  = no
  AutoPrune            = yes
}
# --------------------- #
# Production schedulers #
# --------------------- #
Schedule {
  Name = bacula.schedule.backup-os.p1
  Run  = Level=Full        monthly on 1st Sunday at 01:45
  Run  = Level=Differential weekly on Saturday at 04:30
  Run  = Level=Incremental   daily at 23:10 
}

Schedule {
  Name = bacula.schedule.backup-config.p1
  Run  = Level=Full weekly on Monday at 00:45
  Run  = Level=Incremental daily at 06:35
}

Schedule {
  Name = bacula.schedule.backup-database.p1
  Run  = Level=Full daily at 05:35
}

Schedule {
  Name = bacula.schedule.backup-data.domain3.ru.p1
  Run  = Level=Full         monthly on 1st 3rd Saturday at 22:00
  Run  = Level=Differential weekly on Wednesday at 04:45
  Run  = Level=Incremental  daily  at 05:25
}
FileSet {
  Name = bacula.fileset.config.linux.centos.p1
  Include {
    Options {
      Signature = SHA1
      Compression = GZIP
      onefs = No
    }
    File = /etc
    File = /root/scripts
    File = /var/db/bacula
    File = /var/spool/cron
    File = /var/lib/rpm
    File = /var/named
  }
  Exclude {
    File = /var/spool/mail
    File = /var/spool/postfix
  }
}
FileSet {
  Name = bacula.fileset.os.freebsd.p1
  Include {
    Options {
      Signature = SHA1
      Compression = GZIP
      onefs = No
    }
    File = /COPYRIGHT
    File = /bin
    File = /boot
    File = /etc
    File = /lib
    File = /libexec
    File = /media
    File = /mnt
    File = /rescue
    File = /sbin
    File = /usr
    File = /var/cron
    File = /var/named
    File = /var/yp
    File = /var/db/bacula
    File = /var/db/freebsd-update
    File = /var/db/pkg
    File = /var/db/ports
    File = /var/db/zoneinfo 
  }
  Exclude {
    File = /usr/ports
    File = /usr/src
  }
}
FileSet {
  Name = bacula.fileset.os.linux.centos.p1
  Include {
    Options {
      Signature = SHA1
      Compression = GZIP
      onefs = No
    }
    File = /bin
    File = /boot
    File = /etc
    File = /lib
    File = /lib64
    File = /media
    File = /mnt
    File = /opt
    File = /sbin
    File = /selinux
    File = /srv
    File = /usr
    File = /var/cache
    File = /var/cvs
    File = /var/db
    File = /var/lib
    File = /var/named
    File = /var/opt
    File = /var/spool
  }
  Exclude {
    File = /var/spool/mail
    File = /var/spool/postfix
  }
}
FileSet {
  Name = bacula.fileset.config.linux.gentoo.p1
  Include {
    Options {
      Signature = SHA1
      Compression = GZIP
      onefs = No
    }
    File = /etc
    File = /usr/src/linux/.config
    File = /root/scripts
    File = /var/db/pkg
    File = /var/spool/cron
  }
  Exclude {
  }
}
FileSet {
  Name = bacula.fileset.os.linux.gentoo.p1
  Include {
    Options {
      Signature = SHA1
      Compression = GZIP
      onefs = No
    }
    File = /bin
    File = /boot
    File = /etc
    File = /lib
    File = /lib64
    File = /media
    File = /opt
    File = /sbin
    File = /selinux
    File = /usr
    File = /var/db
    File = /var/cache
    File = /var/lib
    File = /var/bind
    File = /var/spool/cron
    File = /srv
  }
  Exclude {
    File = /usr/portage
    File = /usr/src
  }
}
FileSet {
  Name = bacula.fileset.config.freebsd.p1
  Include {
    Options {
      Signature = SHA1
      Compression = GZIP
      onefs = No
    }
    File = /etc
    File = /usr/local/etc
    File = /var/cron
    File = /var/db/bacula
    File = /var/lib/bacula
    File = /var/named
    File = /var/spool/cron
  }
  Exclude {
  }
}
FileSet {
  Name = bacula.fileset.data.domain3.ru.p1
  Include {
    Options {
      Signature = SHA1
      Compression = GZIP
      onefs = No
      Exclude = Yes
      wildfile = "*.log"
    }
    File = /home
  }
  Exclude {
    File = /home/mysql 
  }
}
Catalog {
  Name = MyCatalog
# Uncomment the following line if you want the dbi driver
# dbdriver = "dbi:postgresql"; dbaddress = 127.0.0.1; dbport =
  dbname = "bacula"; dbuser = "bacula"; dbpassword = "IyDVAI8RBtKEU5Ax"
}

Client {
  Name        = bacula.client.domain2.server01
  Address     = 10.6.0.10
  FDPort      = 9102
  Catalog     = MyCatalog
  Password    = "J+6ahe4seupFxOF1iV9D7yFyq0ZUYBS2v3LLaBU4+1rq"
  File Retention = 60
  Maximum Concurrent Jobs = 5
}
Client {
  Name        = bacula.client.domain3.web
  Address     = 10.6.0.26
  FDPort      = 9102
  Catalog     = MyCatalog
  Password    = "J+6ahe4seupFxOF1iV9D7yFyq0ZUYBS2v3LLaBU4+1rq"
  File Retention = 60
  Maximum Concurrent Jobs = 5
}
Client {
  Name        = bacula.client.domain1.server01
  #FDAddresses = {
  #                ip = { addr = 10.6.0.1; port = 9102; }
  #              #  ip = { addr = 185.14.30.82; port = 9102; }
  #              }
  Address   = 10.6.0.1
  FDPort      = 9102
  Catalog     = MyCatalog
  Password    = "J+6ahe4seupFxOF1iV9D7yFyq0ZUYBS2v3LLaBU4+1rq"
  File Retention = 60
  Maximum Concurrent Jobs = 5
}
Client {
  Name        = bacula.client.domain3.ru
  Address     = 10.6.0.30
  FDPort      = 9102
  Catalog     = MyCatalog
  Password    = "J+6ahe4seupFxOF1iV9D7yFyq0ZUYBS2v3LLaBU4+1rq"
  File Retention = 60
  Maximum Concurrent Jobs = 5
}
Job {
  Name     = bacula.job-backup.domain3.web.config.p1
  JobDefs  = bacula.jobdef-backup.config.p1
  Client   = bacula.client.domain3.web
  Pool     = bacula.pool.domain3.web.p1
  Storage  = bacula.storage.domain3.web.p1
  Schedule = bacula.schedule.backup-config.p1
  FileSet  = bacula.fileset.config.linux.centos.p1
}
Job {
  Name     = bacula.job-backup.domain1.server01.os.p1
  JobDefs  = bacula.jobdef-backup.os.p1
  Client   = bacula.client.domain1.server01
  Pool     = bacula.pool.domain1.server01.p1
  Storage  = bacula.storage.domain1.server01.p1
  Schedule = bacula.schedule.backup-os.p1
  FileSet  = bacula.fileset.os.freebsd.p1
}
Job {
  Name     = bacula.job-restore.domain1.server01.os.p1
  JobDefs  = bacula.jobdef-restore.p1
  Client   = bacula.client.domain1.server01
  Pool     = bacula.pool.domain1.server01.p1
  Storage  = bacula.storage.domain1.server01.p1
  FileSet  = bacula.fileset.os.freebsd.p1
}

Job {
  Name     = bacula.job-restore.domain1.server01.config.p1
  JobDefs  = bacula.jobdef-restore.p1
  Client   = bacula.client.domain1.server01
  Pool     = bacula.pool.domain1.server01.p1
  Storage  = bacula.storage.domain1.server01.p1
  FileSet  = bacula.fileset.config.freebsd.p1
}
Job {
  Name     = bacula.job-restore.domain3.web.os.p1
  JobDefs  = bacula.jobdef-restore.p1
  Client   = bacula.client.domain3.web
  Pool     = bacula.pool.domain3.web.p1
  Storage  = bacula.storage.domain3.web.p1
  FileSet  = bacula.fileset.os.linux.centos.p1 
}

Job {
  Name     = bacula.job-restore.domain3.web.config.p1
  JobDefs  = bacula.jobdef-restore.p1
  Client   = bacula.client.domain3.web
  Pool     = bacula.pool.domain3.web.p1
  Storage  = bacula.storage.domain3.web.p1
  FileSet  = bacula.fileset.config.linux.centos.p1
}

Job {
  Name     = bacula.job-restore.domain2.server01.os.p1
  JobDefs  = bacula.jobdef-restore.p1
  Client   = bacula.client.domain2.server01
  Pool     = bacula.pool.domain2.server01.p1
  Storage  = bacula.storage.domain2.server01.p1
  FileSet  = bacula.fileset.os.linux.gentoo.p1
}

Job {
  Name     = bacula.job-restore.domain2.server01.config.p1
  JobDefs  = bacula.jobdef-restore.p1
  Client   = bacula.client.domain2.server01
  Pool     = bacula.pool.domain2.server01.p1
  Storage  = bacula.storage.domain2.server01.p1
  FileSet  = bacula.fileset.config.linux.gentoo.p1
}
Job {
  Name     = bacula.job-backup.domain3.ru.os.p1
  JobDefs  = bacula.jobdef-backup.os.p1
  Client   = bacula.client.domain3.ru
  Pool     = bacula.pool.domain3.web.p1
  Storage  = bacula.storage.domain3.web.p1
  Schedule = bacula.schedule.backup-os.p1
  FileSet  = bacula.fileset.os.freebsd.p1
}
Job {
  Name     = bacula.job-backup.domain3.web.os.p1
  JobDefs  = bacula.jobdef-backup.os.p1
  Client   = bacula.client.domain3.web
  Pool     = bacula.pool.domain3.web.p1
  Storage  = bacula.storage.domain3.web.p1
  Schedule = bacula.schedule.backup-os.p1
  FileSet  = bacula.fileset.os.linux.centos.p1
}
Job {
  Name     = bacula.job-backup.domain2.server01.os.p1
  JobDefs  = bacula.jobdef-backup.os.p1
  Client   = bacula.client.domain2.server01
  Pool     = bacula.pool.domain2.server01.p1
  Storage  = bacula.storage.domain2.server01.p1
  Schedule = bacula.schedule.backup-os.p1
  FileSet  = bacula.fileset.os.linux.gentoo.p1
}
Job {
  Name     = bacula.job-backup.domain1.server01.config.p1
  JobDefs  = bacula.jobdef-backup.config.p1
  Client   = bacula.client.domain1.server01
  Pool     = bacula.pool.domain1.server01.p1
  Storage  = bacula.storage.domain1.server01.p1
  Schedule = bacula.schedule.backup-config.p1
  FileSet  = bacula.fileset.config.freebsd.p1
}
JobDefs {
  Name      = bacula.jobdef-backup.os.p1
  Type      = Backup
  Schedule  = bacula.schedule.backup-os.p1 
  Messages  = Standard
  Priority  = 30
  Write Bootstrap = "/var/db/bacula/%c.bsr"
  Reschedule On Error = Yes
  Reschedule Times = 5
}

JobDefs {
  Name      = bacula.jobdef-backup.config.p1
  Type      = Backup
  Schedule  = bacula.schedule.backup-config.p1
  Priority  = 20
  Write Bootstrap = "/var/db/bacula/%c.bsr"
  Messages  = Standard
  Reschedule On Error = Yes
  Reschedule Times = 5
}

JobDefs {
  Name      = bacula.jobdef-backup.database.p1
  Type      = Backup
  Schedule  = bacula.schedule.backup-database.p1
  Write Bootstrap = "/var/db/bacula/%c.bsr"
  Priority  = 10
}

#
# Restoring definitions
#
JobDefs {
  Name      = bacula.jobdef-restore.p1
  Type      = Restore
  Messages  = Standard
  Where     = /tmp/bacula-restored
  Bootstrap = "/var/db/bacula/%c.bsr"
}
Job {
  Name     = bacula.job-backup.domain2.server01.config.p1
  JobDefs  = bacula.jobdef-backup.config.p1
  Client   = bacula.client.domain2.server01
  Pool     = bacula.pool.domain2.server01.p1
  Storage  = bacula.storage.domain2.server01.p1
  Schedule = bacula.schedule.backup-config.p1
  FileSet  = bacula.fileset.config.linux.gentoo.p1
}
Job {
  Name     = bacula.job-backup.domain3.ru.config.p1
  JobDefs  = bacula.jobdef-backup.config.p1
  Client   = bacula.client.domain3.ru
  Pool     = bacula.pool.domain3.web.p1
  Storage  = bacula.storage.domain3.web.p1
  Schedule = bacula.schedule.backup-config.p1
  FileSet  = bacula.fileset.config.freebsd.p1
}
Job {
  Name     = bacula.job-backup.domain3.ru.data.p1
  JobDefs  = bacula.jobdef-backup.config.p1
  Client   = bacula.client.domain3.ru
  Pool     = bacula.pool.domain3.web.p1
  Storage  = bacula.storage.domain3.web.p1
  Schedule = bacula.schedule.backup-data.domain3.ru.p1
  FileSet  = bacula.fileset.data.domain3.ru.p1
}
Storage {
  Name       = bacula.storage.domain2.server01.p1
  Address    = 10.6.0.10
  SDPort     = 9103
  Password   = "jZmyjgC2WgMw92uwgYODdwJOWlenklxGchjifm4yVIUU"
  Device     = bacula.device.domain2.server01.d1
  Media Type = File
}
Storage { 
  Name       = bacula.storage.domain3.web.p1
  Address    = 10.6.0.26
  SDPort     = 9103
  Password   = "jZmyjgC2WgMw92uwgYODdwJOWlenklxGchjifm4yVIUU"
  Device     = bacula.device.domain3.web.d1
  Media Type = File
}
Storage {
  Name       = bacula.storage.domain1.server01.p1
  Address    = 10.6.0.1
  SDPort     = 9103
  Password   = "KIVzM/Y4wvwWXUGtDeOMHQ0SUwL6A8sY3efAFsYdO4Rj"
  Device     = bacula.device.domain1.server01
  Media Type = File
}
Messages {
  Name = Standard
#
# NOTE! If you send to two email or more email addresses, you will need
#  to replace the %r in the from field (-f part) with a single valid
#  email address in both the mailcommand and the operatorcommand.
#  What this does is, it sets the email address that emails would display
#  in the FROM field, which is by default the same email as they're being
#  sent to.  However, if you send email to more than one address, then
#  you'll have to set the FROM address manually, to a single address.
#  for example, a 'no-reply@mydomain.com', is better since that tends to
#  tell (most) people that its coming from an automated source.

#
  mailcommand = "/usr/local/sbin/bsmtp -h localhost -f \"\(Bacula\) \<%r\>\" -s \"Bacula: %t %e of %c %l\" %r"
  operatorcommand = "/usr/local/sbin/bsmtp -f \"(Bacula) <%r>\" -s \"Bacula: Intervention needed for %j\" %r"
  mail = backup = all, !skipped
  operator = backup = mount
  console = all, !skipped, !saved
#
# WARNING! the following will create a file that you must cycle from
#          time to time as it will grow indefinitely. However, it will
#          also keep all your messages if they scroll off the console.
#
  append = "/var/log/bacula/bacula.log" = all, !skipped
  catalog = all
}

#
# Message delivery for daemon messages (no job).
Messages {
  Name = Daemon
  mailcommand = "/usr/local/sbin/bsmtp -f \"\(Bacula\) \<%r\>\" -s \"Bacula daemon message\" %r"
  mail = backup = all, !skipped
  console = all, !skipped, !saved
  append = "/var/log/bacula/bacula.log" = all, !skipped
}

Console {
  Name = bacula.director.primary
  Password = "uB+T+kmRj32wTUWKQsG0fSoNkpqh6Pp/brPwV+u7UzG8"
  CommandACL = status, .status
}
Director {                            # define myself
  Name = bacula.director.primary
  DIRport = 9101                      # where we listen for UA connections
  QueryFile = "/usr/local/share/bacula/query.sql"
  WorkingDirectory = "/var/db/bacula"
  PidDirectory = "/var/run"
  Maximum Concurrent Jobs = 5
  Password = "6WGviBxg7L6fVGZ/3LFPkzl//H5uPWdyPxqqmhCcFwL1"
  Messages = Daemon
}

